[project]
name = "test"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "mediapipe>=0.10.21",
    "mediapipe-model-maker>=0.1.0.1",
    "opencv-python>=4.11.0.86",
    "tensorflow>=2.18.1",
]
